/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
	font-family: 'iconfont'; /* Project id 4287989 */
	src: url('//at.alicdn.com/t/c/font_4287989_1fukll2p6y1.woff2?t=1697715949249') format('woff2'),
		url('//at.alicdn.com/t/c/font_4287989_1fukll2p6y1.woff?t=1697715949249') format('woff'),
		url('//at.alicdn.com/t/c/font_4287989_1fukll2p6y1.ttf?t=1697715949249') format('truetype');
}
.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000000;
}
.icon-customer:before {
	content: '\ec2e';
}
.icon-right:before {
	content: '\e629';
}
.icon-search:before {
	content: '\e752';
}
.icon-trophy:before {
	content: '\e62c';
	color: #ffc107;
}
.icon-book:before {
	content: '\e633';
	color: #0056b3;
}
.icon-reception:before {
	content: '\e61e';
	color: #00000080;
}
.icon-knowledge:before {
	content: '\e8dc';
	color: #28a745;
}
.icon-left:before {
	content: '\e67c';
}
.icon-catalogue:before {
	content: '\e6c9';
}
.icon-eye:before {
	content: '\e61c';
}
.icon-text:before {
	content: '\e636';
}
.icon-all:before {
	content: '\e600';
}

.icon-more:before {
	content: '\e78d';
}
.icon-xing:before {
	content: '\e646';
}

.icon-Pause:before {
	content: '\e624';
}
.icon-Play:before {
	content: '\e601';
}
.icon-Previous:before {
	content: '\e63c';
}
.icon-next:before {
	content: '\e63e';
}

.icon-list:before {
	content: '\e602';
}
.icon-love:before {
	content: '\e617';
}
.icon-night:before {
	content: '\e66d';
}
.icon-zuoy:before {
	content: '\e602';
}
